<!DOCTYPE html>
<html ng-app="jobsApp">
  <head>
    <title><%= name %></title>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="javascripts/controllers.js"></script>
  </head>
  <body ng-controller="jobsCtrl">

    <table width="100%" cellspacing="1" cellpadding="0" border="0" align="center" bgcolor="#4169e1">

      <thead>
        <tr bgcolor="#ffffff">
          <th>Job</th>
          <th>Applicant Name</th>
          <th>Email Address</th>
          <th>Website</th>
          <th>Skills</th>
          <th width="450">Cover Letter Paragraph</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center" bgcolor="#ffffff" ng-repeat="a in applicants" | orderBy:'-id'>
          <!-- <td>{{a.job_id}}</td> -->
          <td><p ng-repeat="j in jobs" | ng-if="a.job_id == j.id">{{j.name}}</p></td>
          <td>{{a.name}}</td>
          <td>{{a.email}}</td>
          <td>{{a.website}}</td>
          <!--  for the td immediately below, only a skill whose applicant id equals that of the applicant id will show -->
          <!--  any given skill might be possessed by more than one applicant. -->
          <td><p ng-repeat="s in skills" | orderBy: '-applicant_id' ng-if="a.id == s.applicant_id">{{s.name}}</p></td>
          <td wrap="hard">{{a.cover_letter}}</td>
        </tr>
      </tbody>

    </table>

  </body>
</html>
